.hidden {
  display: none;
}

html, body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
  color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
  height: 25vh;
  margin: 0px;
  padding: 1em;
}
.header::before {
  content: "";
  background-image: url("https://images.unsplash.com/photo-1545630478-cf62cdd247d1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  opacity: 0.5;
  background-position: center;
  position: absolute;
  width: 100vw;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.header__title {
  position: relative;
  font-size: 2.5rem;
  font-weight: bold;
}
.header__search {
  position: relative;
  background-color: #4B4B4B;
  border: 2px solid #2E2E2F;
  border-radius: 30px;
  box-shadow: #2E2E2F 4px 4px 0 0;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.header__search:hover {
  background-color: #A5A5A5;
  color: #2E2E2F;
}
.header__search:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 70vw;
  max-width: 700px;
  margin: 0 auto;
  color: white;
  margin-top: 3em;
}
.main__clearbtn {
  background-color: #787878;
  border: 2px solid #2E2E2F;
  border-radius: 30px;
  box-shadow: #2E2E2F 4px 4px 0 0;
  color: white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 0 2em;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.main__clearbtn:hover {
  background-color: #A5A5A5;
}
.main__clearbtn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.main__data__initial {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  color: #2E2E2F;
}
.main__data__movie {
  display: flex;
  flex-direction: column;
  color: white;
  border-bottom: 1px solid #2E2E2F;
  padding: 2em 0;
}
@media (min-width: 600px) {
  .main__data__movie {
    flex-direction: row;
  }
}
.main__data__movie div {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 600px) {
  .main__data__movie div {
    margin-left: 4em;
  }
}
.main__data__movie__poster {
  width: 150px;
  height: 220px;
}
@media (min-width: 600px) {
  .main__data__movie__poster {
    width: 180px;
    height: 250px;
  }
}
.main__data__movie__title {
  width: 5em;
  height: auto;
}
@media (min-width: 600px) {
  .main__data__movie__title {
    font-size: 2rem;
  }
}
.main__data__movie__rating {
  padding-left: 1em;
}
.main__data__movie__btn {
  width: 100%;
  cursor: pointer;
  color: white;
  font-size: 1.2em;
  border: none;
  background-color: transparent;
}
.main__data__movie__btn:hover {
  font-weight: bold;
}
.main__data__movie__btn img {
  width: 1em;
  height: 1em;
}
@media (min-width: 600px) {
  .main__data__movie__btn {
    left: 0;
  }
}
.main__data__movie__runtime, .main__data__movie__genre {
  padding: 0.5em 1em 0 1em;
  font-size: 0.8rem;
}
.main__data__movie__description {
  color: #A5A5A5;
  font-size: 1.1rem;
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=watchlist.css.map */